#############
## General ##

# OS specific
.DS_Store
Thumbs.db

################
## Node Files ##

# Artifacts
/ts/build/
/res/app/
dist/

# Dependencies
node_modules

# Local Claude Code instructions
CLAUDE.md
