.layoutRoot {
	min-height: 100vh;
}

.logo {
	height: 64px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 90% 75%;
}

.header {
	display: flex;
	align-items: center;
	padding: 0 24px;
	justify-content: flex-end;
}

.userDropdown {
	width: 40px;
	color: white;
}
